.userContainer{
  margin-left: auto;
  margin-right: auto;
}
.userPetImage {
  height: 100px;
}
.userInfo {
  margin-left: 125px;
  margin-right: 125px;
  display: inline-block;
  border-style: solid;
  border-color: rebeccapurple;
}
.upcomingEventChild {
  border-style: solid;
  border-color: rebeccapurple;
  margin-right: 15px;
  margin-bottom: 10px;
}
.upcomingEventUl {
  margin-left: 0px;
}
.userInfo h3 {
  text-align: center;
}
.imageBullets {
  display: inline-block;
  padding-right: 20px;
}
.mainUserList {
  list-style-type: none;
}