.userContainer{
  margin-left: auto;
  margin-right: auto;
}
.userPetImage {
  height: 100px;
}
.userInfo {
  margin-left: 125px;
  margin-right: 125px;
  display: inline-block;
  border-style: solid;
  border-color: rebeccapurple;
}
.upcomingEventChild {
  border-style: solid;
  border-color: rebeccapurple;
  margin-bottom: 10px;
}
.upcomingEventUl {
  margin-left: 0px;
}
.userInfo h3 {
  text-align: center;
}
.imageBullets {
  display: inline-block;
  padding-right: 20px;
}
.mainUserList {
  list-style-type: none;
}
.outsideDivLists {
  margin-left: 25px;
}
.editDeleteTools {
  display: inline-block;
}
li {
  padding-left: 10px;
  padding-right: 10px;
}
.topListItem {
  padding-top: 10px;
}
.bottomListItem {
  padding-bottom: 10px;
}